[2016-08-16 05:58] iranjith4 opened #1 "Make this into a Pod"
Cool Repo. Please make it into a Pod. That will be more helpful.

[2016-08-16 19:21] adamshin commented on #1
Done!

[2016-08-16 19:21] #1 closed

[2016-09-08 09:44] yhelfronda opened #4 "Is this possible if you drag item from one tableview and dropping to another tableview?"

[2016-09-08 14:37] adamshin commented on #4
No, currently this only supports dragging and dropping within a single table view.

[2016-09-08 19:18] #4 closed

[2016-09-14 02:58] dilizarov opened #5 "Dragging a cell to the bottom of a UITableView displays a quirky dark bar while moving to the bottom"
Didn't really know how to title it, but you can watch this happen here: https://streamable.com/rjcd

You should be able to see it when I showcase it in the second half of the video.

I haven't looked too deep into the source code, but I'm guessing this might have something to do with the spacer?

[2016-09-14 03:06] dilizarov commented on #5
It ended up being that I had a single line separator of that color. When I made the separator a clear color, the line disappeared. I guess in a way that means the issue definitely isn't with the library but it might arise for anyone who decides to use separators in their UITableViews.

[2016-09-14 03:35] #5 closed

[2016-09-14 15:22] adamshin commented on #5
@dilizarov Thanks for reaching out. The library tries to be smart with how it handles cell separators, but if the automatic logic isn't working, you can try this:
[code]
That should allow you to keep your separators without them showing up incorrectly. Let me know if that fixes the issue.

[2016-09-14 15:28] adamshin opened #6 "Reordering dynamically sized cells causes content to jump around significantly"
This occurs when the content size is larger than the table view bounds. Probably an issue with cell height calculations.

[2016-09-14 18:03] ay8s commented on #6
Great one @adamshin. I think the issue is the cells move the movement of the cells then trigger another move which causes a loop. I believe similar logic to whats here might fix this up although I could be wrong. https://github.com/Raizlabs/LXReorderableCollectionViewFlowLayout/blob/master/LXReorderableCollectionViewFlowLayout/LXReorderableCollectionViewFlowLayout.m#L157

[2016-09-14 20:20] adamshin commented on #6
Thanks for the tip, I'll take a look at that.

[2016-09-15 05:14] adamshin commented on #6
@ay8s Spent some time debugging this today -- unfortunately, it appears to be a UIKit issue. 😞 Calling `insertRows(at:with:)` or `deleteRows(at:with:)` on a table view with dynamically-sized cells causes the content offset to shift around unpredictably. Seems like it's related to the estimated row height you give.

I wasn't able to come up with a satisfactory solution, so I'm going to table this f

[2017-03-08 17:38] daviddelmonte opened #7 "How best to save the order sequence?"
More of a question than an issue.. But what do you recommend to keep the revised cell order?

Thanks

[2017-03-08 23:49] adamshin commented on #7
You're free to implement that how you like. There's some examples in the sample code though - see [here](https://github.com/adamshin/SwiftReorder/blob/master/Example/BasicViewController.swift) for instance.

In that example, the view controller stores an array of items and uses it to populate the table view. It also rearranges those items as necessary in the reorder delegate method.

Let me know i

[2017-03-13 16:16] #7 closed

[2017-03-13 16:25] daviddelmonte commented on #7
Got it. Thanks.. I had a core data model, so I save sequences in that.

[2017-04-28 02:57] KarlChow92 opened #8 "Swapping with fixed Array sizes"
Hey Adamshin great job on this lib but I got a little issue,

I have 2 sections attached to 2 arrays (1 section per array) where the first section has an array with a fixed size of 1.

Whenever I drag a cell from the second section to the first section I want the current cell in the first section  to move to the second section if I drop the cell that is being dragged on the first section. Is that

[2017-05-05 17:18] adamshin commented on #8
Hm, I'm not sure if that's possible if you're using the library without any modifications. If anything, you'd have to update your array in `tableViewDidFinishReordering(:)` and call `tableView(_:moveRowAt:to:)` to update the UI. I tried that though, and it causes issues with the animation code.

You might have to modify the `ReorderController.updateReorder(touchPoint:)` function or `ReorderControl

[2017-09-03 23:41] #8 closed

[2017-10-16 16:20] adamshin opened #11 "iOS 11 issues"
On iOS 11, if you drag a cell near the top or bottom of the screen, there are visual jumps and glitches.

Also, automatic cell sizing is enabled by default in iOS 11. This needs to be disabled manually by the library user (see #6). A note should probably be added in the 'usage' section of the readme.

[2017-11-02 20:03] valeriologiudice opened #12 "Tinted buttons in cells changing colors"
Hello, great library! I have an issue for buttons with images that I tint to change their color inside a cell. When I start the dragging the cell the tint color that I set is re-setted to the buttons image original colors. For example I've set the tint color for those buttons to be green and when dragging starts the buttons became black, witch is the image original color. Thanks again for this ver

[2017-11-07 16:27] colinhumber commented on #11
https://github.com/adamshin/SwiftReorder/pull/13 fixes this.

[2017-11-11 18:42] #11 closed

[2017-11-17 17:18] tungdx opened #14 "Are there any options to disable Automatic edge scrolling?"
I got this issue https://www.youtube.com/watch?v=5vmFZPdEqO0 . Since this issue has not fixed yet. I was just wondering if there are any options to disable Automatic edge scrolling?

[2017-11-17 18:11] adamshin commented on #14
Not at the moment, but that's a good idea. I'll look into it and try and publish an update to the pod this weekend.

[2017-11-18 05:54] adamshin commented on #14
And done!

[2017-11-18 05:54] #14 closed

[2017-11-18 08:51] tungdx commented on #14
Hi @adamshin How can I set disable automatic edge scrolling? or you mean the issue was fixed?

[2017-11-18 15:46] adamshin commented on #14
`tableView.reorder.autoScrollEnabled = false`

[2017-11-18 15:51] tungdx commented on #14
Hi @adamshin I am using pod to install the library, like this
pod 'SwiftReorder', '~> 3.0'

Could you possibly tell me how can I update to the new version? Thanks

[2017-11-18 16:04] adamshin commented on #14
The new version number is 3.1.0 - so change that line to `pod 'SwiftReorder', '~> 3.1'`, run `pod install`, and you should be good.

[2017-11-18 16:16] tungdx commented on #14
Thanks @adamshin I did it

[2017-11-18 17:50] adamshin commented on #14
@tungdx I just pushed a second update (3.1.1) that fixes the rest of the iOS 11 glitches. If you update to that version, you should be able to turn auto scrolling back on. (`pod update SwiftReorder`)

[2017-11-19 03:57] tungdx commented on #14
It works well, thanks @adamshin

[2017-11-19 23:34] JonCox opened #15 "Feature request: A way to disable/enable reordering on a tableview."
It would be nice if there was a way to enable/disable the reordering functionality on a `UITableView`.

This could be achieved with a method that removes/adds the `UILongPressGestureRecognizer` as necessary.

For reference, here is the hacky code I'm using to achieve this:

_(note this outside of the SwiftReorder module, and is inside my `UIViewController` with the `UITableView` I want the reorder

[2017-11-21 05:25] adamshin commented on #15
Good suggestion. This could be done pretty easily by adding a boolean flag that's checked in the gesture recognizer handler. I'll take a look at it this week.

[2017-11-26 02:32] adamshin commented on #15
Ok - this functionality is added in the latest version (3.2.0). There's a `isEnabled` property on the `ReorderController` that can be set to allow/disallow reordering. (Under the hood, it just sets the `isEnabled` property of the gesture recognizer.)

[2017-11-26 02:32] #15 closed

[2017-11-26 18:07] JonCox commented on #15
Thank you for adding that in Adam. It works perfectly!

[2017-12-18 22:43] diddledot opened #16 "Section header bug"
I have a custom section header cell using `override func tableView(_ tableView: UITableView, viewForHeaderInSection section: Int) -> UIView?`. Some of the sections have no cells in them. When I attempt to drag a cell to an empty section the section header will be a white blank rectangle.

This happens when hovering over an empty section while dragging and persists after a cell is dropped into the

[2017-12-27 12:45] mattstrong opened #17 "Does this library support variable height cells?"
There seems to be some UI glitches occurring when I try

[2017-12-27 21:29] adamshin commented on #17
It does, but you have to calculate cell heights manually rather than using autolayout (see #6).

[2017-12-28 19:19] rinat-enikeev opened #18 "is there a way to disable reordering 0->2"
I have weird results when reordering in tableview. The sourceIndexPath and destinationIndexPath in

`func tableView(_ tableView: UITableView, reorderRowAt sourceIndexPath: IndexPath, to destinationIndexPath: IndexPath) `

are 0 and 2 in one call, followed by 0-1, 1-0.

The log is:
7-6
6-5
5-4
4-3
3-2
2-0
0-1
1-0

this actually puts top (0) element on third (2) position, changing the initial order

[2017-12-28 19:26] rinat-enikeev commented on #18
answer: don't swap. use

[code]

[2017-12-28 19:26] #18 closed

[2018-01-10 23:04] #17 closed

[2018-01-10 23:14] adamshin commented on #16
Hey - I closed this, then reread your comment. I guess the bug is still present, technically (despite the fact that you found a workaround). Have you found anything else out since then? I'm not sure why section headers would be disappearing... I haven't tested with storyboards myself though.

[2018-01-11 22:43] diddledot commented on #16
I scanned your code/commented some parts out that I thought might be causing the issue, but I wasn't able to find anything.

[2018-01-16 12:40] lkuraer commented on #6
just do this in viewcontroller to fix this jumping:
1) var cellHeights = NSMutableDictionary()
2)     func tableView(_ tableView: UITableView, estimatedHeightForRowAt indexPath: IndexPath) -> CGFloat {
        if let height = cellHeights.object(forKey: indexPath) {
            return height as! CGFloat
        }

        return UITableViewAutomaticDimension
    }

3)     func tableView(_ tableView

[2018-01-27 21:05] Reak45 opened #20 "Carthage support"
Hi!
Could you please add Carthage support?
I got: "Dependency "SwiftReorder" has no shared framework schemes" when I run carthage update command
Tanks!

[2018-02-08 16:50] dyegos opened #21 "Dragging a cell to the top makes the tableview shake"
I have implemented the SwiftReorder and it's really cool. I'm facing an issue when I drag a cell from the bottom to up, but when the cell gets to the top, the whole tableview starts to shake as you can see in the video attached. is there a way to fix it?

[Sample.zip](https://github.com/adamshin/SwiftReorder/files/1707976/Sample.zip)

[2018-02-13 08:21] tonistair commented on #21
First of all nice project :)... I have the have the same issue... For me it only seems to happen when the TableView has multiple sections 🤔

[2018-02-13 08:37] dyegos commented on #21
I found more info about this issue. The shaking behaviour only happens on iOS 11.

[2018-02-13 20:48] adamshin commented on #21
Yeah. Unfortunately iOS 11 seems to have introduced some ui quirks that cause shaking/jittering when dragging cells around.

I've been thinking about a possible rewrite of the library. It would implement drag-and-drop by displaying "dummy views" in place of the actual cells and headers. That way we'd have manual control over the visual position of each element, instead of relying on the UITableVie

[2018-02-26 19:19] robinmacharg opened #22 "Unable to dynamically redraw the dragged cell as it moves up and down the table"
Great library, perfect drop in functionality for what I need.  This is more of a feature request.  I have some dynamic content - the cell number - that I'd like to have update as the cell is dragged around.  Other use-cases could be imagined (background colour in an alternately-striped table etc).  I'd like a method I could call from the delegate as the cell moves.  I'm already reloading data in t

[2018-02-27 16:58] adamshin commented on #22
Hey! Glad the library's been helpful for you.

Currently, the snapshot view has to be generated at the beginning of the drag-and-drop interaction. This is because the target cell isn't actually present in the tableview while the user's dragging; it's replaced with a blank 'spacer cell'. So I'm not sure if there's a simple way to accomplish what you're looking for.

Maybe you could create your own

[2018-03-14 14:01] wagng opened #23 "Use of undeclared type 'TableViewReorderDelegate'"
Thanks for sharing a nice library.
I built a custom UITableView and tried to use your library.

- Environments
1. MacOSX
2. XCode 9.2 (9C40b)
3. Swift 4.0

- Installation
[code]

- Code snippets
[code]

But I am getting the following errors.
`Value of type 'CustomTableView' has no member 'reorder'`
`Use of undeclared type 'TableViewReorderDelegate'`

Am I missing something? Appreciate any help!

[2018-03-14 15:53] adamshin commented on #23
Hi! Have you added `import SwiftReorder` in the source files where you're using the library?

[2018-03-14 15:59] wagng commented on #23
Whoops! Sorry my bad. Thank you!

[2018-03-14 15:59] #23 closed

[2018-03-20 23:00] PiotrMaleszczuk commented on #21
Try with this guys ->
[code]

[2018-03-21 13:58] tonistair commented on #21
Thank you very much! That did the trick for me as well! Much appreciated!

[2018-04-12 03:57] Iamivan1996 opened #24 "Is it possible to change the Image when begin reordering the cell"
i am going to display an image, for example a black color of star image, when i trying to reordering the cell, the star will change to yellow color. After finish the reordering, the yellow star will change to black star.

[2018-04-13 20:40] RushanB opened #25 "Is it possible to implement this framework for re-ordering sections?"
Is it possible to implement this framework for re-ordering sections by getting indexPath from a selected point. I can manage to do it on my own but I am having difficulties with the scrolling so I was wondering if I could use this instead.

[2018-04-24 16:35] matuella commented on #24
@Iamivan1996 could you try to proceed with your flow now that there is an IndexPath when begin the reordering?

[2018-04-24 19:25] adamshin commented on #24
I still need to push the updated version to cocoapods. I'll try and get that up later today.

[2018-04-26 11:02] Iamivan1996 commented on #24
@matuella Yes, there is an indexPath in the function now ,i'm sorry for being late reply cause i'm going to develop android app version.

[2018-04-30 09:54] Iamivan1996 commented on #24
i found out that why the image is still not changing, when i begin reordering the cell, because of the function on ReorderController.swift<br/>
`func beginReorder(touchPosition: CGPoint){
    .......
    reorderState = .reordering(context: context)
    delegate.tableViewDidBeginReordering(tableView, at: sourceRow)
`<br/>
delegate.tableViewDidBeginReordering(tableView, at: sourceRow) <-- this shoul

[2018-05-05 10:54] SunilSpaceo commented on #21
I also notice that its happens only when you have multiple sections in a table. In my case if I try with single section then its working but its shake while using multiple section in that table

[2018-05-15 11:16] costachung commented on #21
I had the same issue when dragging cells around while the TableView has multiple sections. The animation changes the bounds on iOS 11.

In updateDestinationRow(),  removing the bounds animations fixes the problem.
[code]

or simply,
`tableView.layer.removeAllAnimations()`

[2018-06-07 06:00] axiom-media opened #27 "SwiftReorder blocks other UIGestureRecognizers in tableview cells"
I have a UITableView with custom cells.  In each cell I have a thumbnail image and each thumbnail has a UIGestureRecognizer which responds to long presses and triggers a full screen overlay with a zoomed version of the thumbnail.

After implementing SwiftReorder, my cells are no longer responding to the long press on thumbnail images.  Is there a way to have SwiftReorder ignore gestures if they ha

[2018-06-07 06:40] axiom-media commented on #27
Update: I'm sure there is a better way to achieve this, but I was able to get the functionality back by ensuring the minimumPressDuration on my thumbnail image gesture recognizer was set to a lower value than the tableView.reorder.longPressDuration property for SwiftReorder.

[2018-06-11 09:08] shahchirag2110 commented on #21
@dyegos have you find any solution? I have same problem but notice one more thing it will not drag down top two cells in my case.

[2018-06-13 18:45] oskirkon opened #28 "Reordering of Lower Rows in Long Table View"
I encountered a bug where when long pressing a row that appeared towards the bottom of a longer table view (after scrolling to reach the row) would have no effect. I took some steps to diagnose.

Steps to Reproduce:

1) Create table views with 30ish rows, containing simple text.
2) Scroll to bottom of table view.
3) Try to select bottom row to reorder.
4) Nothing will happen

Setting breakpoints s

[2018-06-14 08:56] shahchirag2110 commented on #21
@dyegos @adamshin i solved the issue by this line.
[code]
Hope this help others

[2018-06-14 12:07] costachung commented on #27
You can use the TableViewReorderDelegate.
Implement the canReorderRowAt delegate method, and others as necessary.
`func tableView(_ tableView: UITableView, canReorderRowAt indexPath: IndexPath) -> Bool {
        //If it is a thumbnail cell, then return false
    }`

[2018-06-21 05:42] axiom-media opened #29 "Does SwiftReorder support targetIndexPathForMoveFromRowAt?"
In my table view I have certain rows at the top or bottom that should not be movable and should always stay at the top (or bottom).  But other rows can be moved around freely.  To implement this behaviour, I have been using the following method:

`override func tableView(_ tableView: UITableView, targetIndexPathForMoveFromRowAt sourceIndexPath: IndexPath, toProposedIndexPath proposedDestinationInd

[2018-06-21 05:49] axiom-media commented on #29
Sorry, right after posting my question I looked through the source code and noticed this delegate method:

`func tableView(_ tableView: UITableView, targetIndexPathForReorderFromRowAt sourceIndexPath: IndexPath, to proposedDestinationIndexPath: IndexPath) -> IndexPath {`

For others running into the same problem, note the slight wording change in order to get this to work with SwiftReorder.

[2018-06-21 10:20] drieran opened #30 "Feature: Implement tableViewWillBeginReordering"
I need to change row before is moved.

Now I'm trying at tableViewDidBeginReordering level, but the row is magnified and receives the changes when I finish the drag movement.

Thanks. Great library.

[2018-06-23 23:45] #29 closed

[2018-06-26 16:39] Mimo191 commented on #28
Hi, I encountered the same bug and didn't found a solution other the one you suggested.

But by commenting the line: `tableView.reloadData()`, you wont have the same effect when the reorder is triggered. I mean the dragged cell background color is not white, but grayed a little bit due to cell highlighting.

I suggest adding this line: `tableView.reloadRows(at: [indexPath], with: .fade)`

Apart fr

[2018-07-06 04:34] drieran commented on #30
Thanks!

[2018-07-06 04:34] #30 closed

[2018-07-26 04:37] cliftonlabrum commented on #6
Is there a way to implement these changes within the source itself so I don't have to add all this to each of my tableViews?

[2018-08-16 16:44] PurpleFrontPvtLtd opened #31 "tableView(_:moveRowAt:to:) method is calling multiple time"
tableView(_:moveRowAt:to:) method is calling multiple time if going to reorder a cell position with far away cell.

[2018-08-21 22:57] danlaunch opened #32 "Multi-Section TableView reordering"
I have a tableview with multiple sections and each section has 1 row.
When I try reordering it crashes saying that
`attempt to insert row 1 into section 1, but there are only 1 rows in section 1 after the update`
I guess it's because the tableView tries to add tile to the destination section but I return 1 on numberOfRowsInSection.
Is there any solution to solve this issue?
Thanks in advance

[2018-08-24 09:49] naruto2302 commented on #20
https://github.com/GianniCarlo/SwiftReorder you can use this fork, it supports Carthage

[2018-08-29 15:40] #20 closed

[2018-09-11 05:06] MarkBorazio opened #34 "First touch to after reordering is being ignored"
After reordering a cell, my first touch to select a cell is completely ignored, and didSelectRowAt does not fire. Only once I touch the cell again for a second time does didSelectRowAt gets called.

I did a dirty workaround by grabbing the gesture recognizer and setting `cancelsTouchesInView` to `false`, like so:

`let gestureRecognizer = tableView.gestureRecognizers?.last
  gestureRecognizer?.can

[2018-09-11 16:34] adamshin commented on #34
Sure – if you're willing to do that, I'll take a look at it and do some testing as well.

[2018-09-13 07:48] kemalenver opened #35 "Carthage install error"
Seeing the following error when I try to run Carthage update:

[code]

[2018-09-14 03:19] kemalenver commented on #35
Looks like it was only added recently.  Someone needs to create a new version with the Carthage changes in.  Until then the following will work:

[code]

[2018-09-27 11:08] valeriologiudice opened #38 "Xcode 10 support"
The library is not compiling in Xcode 10 and Swift 4.2

[2018-10-01 19:50] adamshin commented on #38
Fixed by #37

[2018-10-01 19:50] #38 closed

[2018-10-01 19:56] adamshin commented on #34
Resolved by #36

[2018-10-01 19:56] #34 closed

[2018-10-01 20:08] adamshin commented on #31
This is a known effect of how the library is implemented. The reorder controller needs to actually move the cells around during a drag-and-drop, meaning the tableview data source has to update live.

If you need to do any heavy lifting (making a server request, etc) after a drag-and-drop is finished, you can use the delegate method `tableViewDidFinishReordering(_:from:to:)`.

[2018-10-01 20:08] #31 closed

[2018-10-03 05:07] kemalenver commented on #35
Hi @adamshin thanks for the update.  All looks good now 👍

[2018-10-03 05:07] #35 closed

[2018-12-04 12:32] laxmorek commented on #28
@adamshin This issue can be closed referring to merged #39

[2018-12-04 16:36] #28 closed

[2018-12-26 07:33] imobdevtech opened #40 "Is there any way to reorder raw within section?"
@adamshin I have used reorder framework in multi section table view. Now i want to stop reorder to one section to one another section is this possible?

[2018-12-28 12:46] 1715 commented on #32
That's old but might be useful for someone, since the issue hasn't been resolved yet.
I have managed to resolve it by using UITableViewDelegate method as below

[code]
This way the table view cell will be able to be reordered only with cells from the same section.

[2018-12-28 12:49] 1715 commented on #40
@imobdevtech I came across the same problem have suggested a solution in #32.

[2019-01-01 01:21] #40 closed

[2019-01-02 00:16] testproject1234 opened #41 "App is crashing when dragging to a new section"
I have 3 section in my tableview. I dont want to reorder the cells from one section to other section. How to avoid dragging one cell from one section to other section.

[2019-01-02 07:02] imobdevtech commented on #32
Sir this is not tableview delegate method but it is framework delegate method.

[2019-01-02 07:06] 1715 commented on #32
@imobdevtech You are totally right, sorry for confusion.

[2019-01-08 07:32] imobdevtech commented on #41
@testproject1234 I came across the same problem, have suggested a solution in #32.

[2019-01-08 19:41] alexanderkhitev opened #42 "Is it possible to make only the right side of the cell active?"
Is it possible to make the user move the cell only if the user touches the right side of the cell?

[2019-01-09 02:47] adamshin commented on #42
The library doesn't have that functionality as-is, but you could modify the code and add it pretty easily. You'd need to add a check to `gestureRecognizerShouldBegin(_:UIGestureRecognizer)` in `ReorderController+GestureRecognizer.swift`, so the gesture recognizer only begins if the touch is on the right side of the table view.

[2019-01-09 03:01] adamshin commented on #41
@testproject1234 Yeah, the `tableView(_:UITableView, targetIndexPathForReorderFromRowAt:IndexPath, to:IndexPath)` method is what you'll want to use. If you override it, you can add custom logic for where the selected cell gets dropped.

The example code @imobdevtech linked to should fix your issue:
[code]

[2019-01-09 03:01] #41 closed

[2019-01-09 03:20] adamshin commented on #32
I'm a little late following up on this one, sorry. Dragging cells between sections is definitely possible. The key is to make sure you update your data model in the `tableView(_:UITableView, reorderRowAt:IndexPath, to:IndexPath)` delegate method. This method can be called multiple times during the course of a drag-and-drop gesture; it fires whenever the user drags the cell over a new destination r

[2019-01-09 03:20] #32 closed

[2019-01-09 09:45] alexanderkhitev commented on #42
@adamshin Thank you, I started doing that.

[2019-01-09 09:45] #42 closed

[2019-01-10 09:23] AndroidJohnDoe opened #43 "Application crashed when moving cell to other section"
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid update: invalid number of rows in section 0.  The number of rows contained in an existing section after the update (7) must be equal to the number of rows contained in that section before the update (7), plus or minus the number of rows inserted or deleted from that section (0 inserted, 1 deleted) and pl

[2019-01-10 17:01] adamshin commented on #43
Sounds like you may not be updating your data model in `tableView(_:UITableView, reorderRowAt:IndexPath, to:IndexPath)`. Check out my comment [here](https://github.com/adamshin/SwiftReorder/issues/32#issuecomment-452557776) for an outline of how to resolve this issue. There's some example code in the sample project too which may be helpful.

[2019-01-11 04:38] AndroidJohnDoe commented on #43
ok got it, My fault. Resolved it. But can you please give an option for drag and drop in Expand collapse UITableView? I need to implement you this framework on that. What do you think is it implementable?

[2019-01-11 04:43] AndroidJohnDoe commented on #27
I am facing same problem, can you tell me how you resolved that issue. I am using grouped (like in Demo Example in this project) like UITableview and there are button in Cell, I am unable to perform button click. Can you tell how to achieve this?

[2019-01-11 11:01] #43 closed

[2019-01-11 11:04] AndroidJohnDoe opened #44 "Swiping row from one section to other section that is collapsed"
I have created the expand collapse version of UITableView. now I want to implement your framework on it. The reordering performs very well if UITableView is in expanded form (means Multiple rows in sections),

But when the sections are collapsed (Means that no rows are being showed inside the section), if I drop row in such section crashes the app, where as if this section is also expanded the row

[2019-01-11 11:22] AndroidJohnDoe commented on #16
did you solve the problem?

[2019-01-11 11:52] manish026 opened #45 "App is crashing when dragging custom cell to a new section"
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'attempt to delete row 2 from section 0 which only contains 2 rows before the update'

Getting this error while dragging 3rd row from 0th section to 1st row of 1st section

[2019-01-11 11:53] manish026 commented on #45
the fix is call **reorderRowAt** delegate after deleting the row

tableView.beginUpdates()

        tableView.deleteRows(at: [context.destinationRow], with: .fade)

        delegate?.tableView(tableView, reorderRowAt: context.destinationRow, to: newContext.destinationRow)

        tableView.insertRows(at: [newContext.destinationRow], with: .fade)
        tableView.endUpdates()

[2019-01-11 17:17] adamshin commented on #45
Are you updating your data model in `tableView(_:UITableView, reorderRowAt:IndexPath, to:IndexPath)`? A couple other people had this issue recently – I left a comment [here](https://github.com/adamshin/SwiftReorder/issues/32#issuecomment-452557776) explaining how to resolve it.

[2019-01-11 17:38] adamshin commented on #44
Not sure on that one – it depends on how you're implementing your expand/contract behavior. If you're dynamically adding and removing rows, I could see that causing issues. SwiftReorder relies on adding/removing rows as well to make the drag and drop behavior work.

In your `tableView(_:numberOfRowsInSection:)` method, are you returning a hardcoded value of 0 for sections that are collapsed? That

[2019-01-12 11:57] anton-plebanovich commented on #6
I'm using extension for UITableView - https://github.com/APUtils/APExtensions/blob/master/APExtensions/Classes/Core/_Extensions/UITableView%2BUtils.swift#L82

Then it's just one line of code: `tableView.handleEstimatedSizeAutomatically = true`

[2019-01-17 06:46] manish026 commented on #45
Yes I was updating data model in tableView(_:UITableView, reorderRowAt:IndexPath, to:IndexPath)

[2019-02-26 05:31] brandonscript opened #47 "Cells that are adjusted based on datasource values are bumped down due to spacerCell"
Looking at the way the spacer cell behaves, a new cell is inserted into the table view, and is causing the cell properties to become out of alignment with the datasource. This isn't immediately obvious on cells with a static appearance, but on cells where the appearance is driven by the datasource, you can see the changed cells jump by one index each time the long press is activated.

Removing thi

[2019-02-26 15:25] brandonscript commented on #47
⊙_⚆ When you forget to actually properly update your visual model in `cellForRow:atIndexPath:`...

[2019-02-26 15:25] #47 closed

[2019-02-28 10:11] marekslk commented on #25
Yes there is solution :/ :D https://github.com/sivu22/LongPressReorder

[2019-03-09 13:46] tuant2n opened #48 "proposedNewDestinationRow()"
Hi, I dont know why need to + 5pixel in here
`let visibleCells = tableView.visibleCells.filter {
            // Workaround for an iOS 11 bug.

            // When adding a row using UITableView.insertRows(...), if the new
            // row's frame will be partially or fully outside the table view's
            // bounds, and the new row is not the first row in the table view,
            // it's

[2019-03-26 10:02] mink-lparrouy opened #49 "Issue when reorder a item to the top"
Hi there,

I have an issue when I have a long list of items and I want to reorder the list. I take my last item and I want to put it on top but the scroll seems infinite.

Checkout this video : http://sendvid.com/rnqf5s1k

Do you have any idea of what happening ?

Thank you

[2019-04-15 20:44] afMicWeg commented on #49
@mink-lparrouy

same behavior here .... found a solution for this?

kind regards,

Mike

[2019-04-16 14:52] AndoniLarz commented on #49
Hi @afMicWeg

I work with @mink-lparrouy, sadly we didn't find any solution as of now...

Regards

[2019-05-14 15:18] m3g0byt3 commented on #21
Have the same issue recently with SwiftReorder 6.0.2 on iOS 11/12, in my case it was arised after adding self-sizing UITV section header and footer views into table view, although standard self-sizing UITV cells works just fine in the same table view previously.

Fixed by setting:
[code]

And by manual height calculation in appropriate delegate methods:
[code]

Thanks @adamshin for great library.

[2019-06-12 15:56] AndoniLarz commented on #49
Hi, any news on this ?

[2019-07-10 04:29] Tim61217 opened #53 "Does this library support for the project of objective-c?"
This library is very easy-to-use. In some of my projects which build with objective-c also want to use this. Does this library support for the project of objective-c?

[2019-07-24 01:07] MohamedElgharbawy opened #54 "Is it possible to add an action the moment the cell is picked up?"
I want to add haptic feedback the moment you pick up the cell, but I do not see an option to do so. I tried adding an external function to do so, but I believe this pod takes priority over it.

[2019-07-24 01:21] #54 closed

[2019-07-24 01:23] MohamedElgharbawy commented on #54
Solution: Implement the following function:

`func tableViewDidBeginReordering(_ tableView: UITableView, at indexPath: IndexPath)`

in:

`extension TasksTableViewController: TableViewReorderDelegate`

[2019-07-24 12:38] thejeff77 opened #55 "Feature Request: Vibration when dragging cell moves (like current apple feature)"
Hey there!

I also allow drag and drop via apple's functionality in edit mode, and am trying to make it match.

One big thing that is different that I think is really cool is that with apple's edit functionality, you feel a slight vibration when your drag moves over a tableviewcell.

Also - awesome library, clean code. If you want to give me a pointer on where the code detects the cell moving over

[2019-07-24 19:23] adamshin commented on #55
Hey, glad you've found the library useful.

For generating haptic feedback, you'll want to use a `UIFeedbackGenerator`– there's various options for different kinds of vibration. You could trigger it in the reorder controller delegate methods, which wouldn't require any modification to the library code.

`tableViewDidBeginReordering(_:at:)` and `tableViewDidFinishReordering(_:from:to:)` get called

[2019-07-24 19:50] thejeff77 commented on #55
@adamshin thanks for the tips and the quick feedback, I'll give it a try!

[2019-07-24 19:52] adamshin commented on #53
Hey sorry for the late reply. I just released a new version of the library (7.1.0) with a couple changes for Objective-C compatibility. You should be able to use it from your objc projects as long as your bridging header, etc are set up properly.

[2019-07-25 19:32] adamshin commented on #53
Looks like there are build issues with that last release. SwiftReorder relies on default protocol implementations, which I just realized aren't compatible with Objective-C unfortunately. I'm going to have to back out those changes.

[2019-07-25 19:32] #53 closed

[2019-07-26 03:17] thejeff77 commented on #55
Works like a charm. Thanks for the feedback.

[2019-07-26 03:50] #55 closed

[2019-07-26 08:12] Tim61217 commented on #53
Ok. Thanks for your reply and effort. I have tried another way to do it on my project. I just think if I can do it in the same way, it's better for maintenance. Have a nice day!

[2019-07-26 13:23] thejeff77 commented on #49
I just implemented this library and don't have this issue. I did have an issue with internal consistency that I fixed - it was my code of course not the library. In troubleshooting, I found it helpful to put a breakpoint on line 55 of ReorderController+DestinationRow.swift

This is where the reordering is done, and the state is aware of the source and destination indexPaths.

You might try putting

[2019-07-26 13:30] thejeff77 commented on #12
@valeriologiudice I don't think this is an issue with this library. I forgot where I found the solution, but this is just an ios thing - the tints/backgrounds sometimes get reset when a cell is set to selected or highlighted. In order to fix this, I recommend overriding a couple methods in your UITableViewCell:

[code]

[2019-07-26 13:36] thejeff77 commented on #45
I had a similar issue because somewhere in my code I was calling tableView.endUpdates() to fix a bug with TBEmptyDataSet, and had never called tableView.beginUpdates() - you might check that you have matching beginUpdates and endUpdates calls for any updates you have.

[2019-07-26 13:42] thejeff77 opened #56 "Feature Request: Drop cell into another cell"
Hello again! At some point I'll be putting folders into my table - any suggestions for dragging a cell onto another cell with existing functionality, or places to start to make this possible in your library would be helpful.

I figure additional delegate methods (or a separate delegate) might look something like:

func canDragHoverOverIndexPath(_ indexPath : IndexPath) {
     // return true if fol

[2019-07-28 17:37] MohamedElgharbawy opened #57 "Picking up a cell breaks all other cells"
I have cells with custom properties, but when I pick up any cell, the rest of them seem to reset and behave unexpectedly. Here is an example of my issue:

https://gfycat.com/bleakconcernedarmadillo

This seems to be a bug unique to this pod, as other ones I have tried do not replicate this issue. Let me know if there's anything you want me to provide to figure this out.

[2019-07-29 15:34] adamshin commented on #57
Are you persisting the selection state of your cells outside of the table view? Cells in the table view are reloaded when the drag-and-drop starts, which might explain the issue you're seeing.

[2019-07-29 15:35] #22 closed

[2019-07-29 15:35] #25 closed

[2019-07-29 15:36] #24 closed

[2019-07-29 15:36] #44 closed

[2019-07-29 15:38] #21 closed

[2019-07-29 15:43] #16 closed

[2019-07-29 16:18] adamshin commented on #56
That's a good question. I think you'd have to make some substantial changes to the reordering logic. Currently the code is only looking for a new "destination row" as you drag cells around, but to allow hovering, it would have to also check for a "hover" state and update things accordingly. Probably would need to add something like `var hoveredRow: IndexPath?` to the `ReorderContext` to keep track

[2019-07-29 16:51] thejeff77 commented on #56
Thanks! I'll definitely need folders at some point, and I don't see a better option than extending this library so far. My high level understanding is that there is a blank cell below the hovered cell that is switching depending on where the dragged cell is located. I might be wrong on that tho.

If that is the case, I assume that I could call my delegate function for a destination row: canDragHov

[2019-07-29 17:14] MohamedElgharbawy commented on #57
Yes, I have the data and selection state saved in an array in the tableVC class

[2019-07-29 17:48] adamshin commented on #57
I would set a breakpoint in `cellForRowAtIndexPath` and confirm that the selection state is being set correctly. The reorder controller only reloads cells – it shouldn't be able to reset or modify properties on custom cells. That being said, there may be something else unexpected going on.

[2019-07-30 00:38] MohamedElgharbawy commented on #57
Thanks! That fixed it.

[2019-07-30 00:38] #57 closed

[2019-07-30 16:41] adamshin commented on #56
You're right, there is a blank spacer cell inserted in the tableview beneath the location you're dragging. I don't think you'd want to remove that spacer when hovering over another row though. That would cause your content to keep shifting up and down as you dragged cells around.

As an example, check out the behavior when reordering apps on the iOS home screen. When hovering one app over another

[2019-07-31 14:41] thejeff77 commented on #56
Good feedback. I'll implement it this way. Thanks!

[2019-07-31 15:12] adamshin commented on #56
No problem! Let me know if you're able to get it working.

[2019-08-01 05:22] davidpaul0880 commented on #49
Hi friends, getting same issue as you mentioned.
Issue when you attempt to drag the last cell all the way to the top of the list. We are only able to put it as third item. Unable to set as first item.
//In a quick debug, understand that the top cells are not getting with visible cells array.

I have created a [sample project](https://github.com/davidpaul0880/TableViewReorder-Test) to replicate the

[2019-08-20 01:14] samgold89 opened #58 "AutoScroll choppy & jumpy when there are multiple sections"

[2019-08-20 01:14] samgold89 opened #59 "AutoScroll choppy & jumpy when there are multiple sections"

[2019-08-20 01:21] samgold89 commented on #58
![jumpy](https://user-images.githubusercontent.com/1900056/63310093-358c5c80-c2ae-11e9-9bcb-0801b63d8d8e.gif)

[2019-08-20 01:22] #59 closed

[2019-09-03 11:43] ChrisPearce opened #60 "Swift Package Manager support"
It would be very helpful if Swift Package Manager was supported by including a Package.swift file.

[2019-09-12 21:50] SirWindfield opened #61 "Question: Pinch detection"
Hey there!

Sorry to take your issue tracker hostage but I couldn't really find an answer to my question.
I am currently trying to replicate Procreate's "pinch to merge layers" ListView that you can see in [this](https://www.youtube.com/watch?v=omxlm5oISok) short YouTube video.
I thought I found a solution with your library but after taking a closer look I think it's actually not possible as of no

[2019-09-13 16:14] adamshin commented on #61
Hey! Looking at that video, I think what you're going for is a little different than what this library provides. But probably simpler too.

I think you could replicate that behavior by adding a pinch gesture recognizer and using it to adjust the position of your onscreen cells. You could set a transform on the `cell.layer`, or maybe a subview's layer, to adjust the cell's visual position. Then if

[2019-09-15 12:32] SirWindfield commented on #61
Thanks for your quick response! Would I have to add the pinch gesture recogniser to the UITableView itself or its children?

[2019-09-15 19:36] adamshin commented on #61
You'd want it on the UITableView, probably

[2019-09-15 21:44] thejeff77 opened #63 "Doesn't work well with iOS 13 UIContextMenu functionality"
Hey there,

I opened a PR for an example of this issue. Check it out - if you add UIContextMenu interactions to your cells via the new iOS 13 APIs, the reordering doesn't work very well. This is a gesture recognizer conflict. I'm not sure how to fix it. Suggestions are encouraged :)

[2019-09-16 07:50] SirWindfield commented on #61
Thank you!

[2019-09-16 07:50] #61 closed

[2019-09-16 15:55] adamshin commented on #63
Hmm.. I don't know if there's a simple solution here. Both the reorder action and the context menu are triggered by a long press gesture, so even if you adjusted the press duration, one of them would always trigger before the other. What kind of behavior would you expect in this case?

[2019-09-16 19:13] thejeff77 commented on #63
Great question. And to back up a little further - what kind of function would apple expect on elements that previously used 3D touch for details (popover preview thing), and now deprecated it for long press for elements that previously had a long press for something else?

I think the touch to reorder and showing details on TableViews and CollectionViews is pretty common.

I think I'll open a Code

[2019-09-20 21:42] thejeff77 commented on #63
The result is...

Apple fixed it for their own drag and drop apis - the drag and drop delegate. I'm not sure why someone hasn't made a library that makes this simpler use case of drag and drop in a table view with Apple's APIs, just abstracting out the huge amount of code you need for it.

So now the pull request I opened basically works the same, without some of the animation clipping... and thei

[2019-09-24 20:24] adamshin commented on #63
Yeah – for most people implementing drag-and-drop today, the built in APIs are probably a better place to start. I think this library still provides useful functionality, especially if you need to customize the interaction or support older versions of iOS. The advantage of using native APIs of course is that they always stay up to date... :)

If there's a simple fix for this I'd be glad to merge i

[2019-09-24 21:23] thejeff77 commented on #63
So I was able to fix this so it works really well. In my opinion it works as well as the sample Apple gave me, but perhaps its only 95% or something. The UI clipping is due to the UIContextMenu adding a solid background to the cell while the drag is in progress, which makes it look super weird. I added the same timings to the example I put together, but somehow I'm not able to reproduce the good e

[2019-09-25 04:23] adamshin commented on #63
I haven't tried the sample yet – I'll check it out tomorrow. Thanks for your time and effort on this.

[2019-10-01 16:28] adamshin commented on #63
Hey, sorry it's taken a while for me to get back to you on this. Got sidetracked with some other things last week.

I tried out the example and I'm having a hard time getting the cells to reorder. The context menu almost always triggers before I'm able to drag. It seems intermittent — maybe there's just a small timing window. Is that the same thing you're experiencing, or is it working more consis

[2019-10-01 17:40] thejeff77 commented on #63
My app functions much better - and as mentioned I'm not able to reproduce the same greate experience in the sample, its almost as if the first drag works ok then it stops working well. I'll try adding the transparent background on the pop and double checking the timings and send you an update.

[2019-10-28 11:39] alexanderkhitev commented on #58
any news?

[2019-11-17 15:29] codejun9527 commented on #58
me too，any news?

[2019-12-26 04:09] Jeedneux89 commented on #60
https://github.com/adamshin/SwiftReorder/issues/60#issue-488555055

[2020-01-02 10:45] davidpaul0880 commented on #49
FYI: I replaced my TableView with CollectionView to get a decent reordering.. :)

[2020-01-03 12:53] RabiaAwan opened #65 "A way to disable/enable reordering on a tableviewCell."
Can you please guide me how can i disable scrolling for specific table view cell. I want to enable/disable specific cells in tableview. Please let me know, is there any way to do that? I will be very thankful to you.

[2020-01-05 18:36] thejeff77 commented on #63
Well, as I started using the apple drag/drop, it works so much better. You can drag the context menu into a reordering cell and apple's done a ton of work to make the two work seamlessly. I recommend using this, although implementing apple drag drop can be quite difficult without an example, as there is quite a bit you need to do.

[2020-01-09 16:39] adamshin commented on #63
Makes sense, glad it worked out for you. Sounds like that's the best course of action if you need context menu functionality.

[2020-01-09 16:41] adamshin commented on #65
You can prevent certain rows from being reordered by implementing the `tableView(_:canReorderRowAt:)` method in your reorder delegate.

[2020-01-18 14:04] anton-plebanovich commented on #6
Fixed in https://github.com/adamshin/SwiftReorder/pull/67

[2020-01-18 17:36] anton-plebanovich opened #68 "Reordering to top is broken on iOS 13.3, Xcode 11.3.1"
So spend half a day today trying to figure out and maybe fix a bug with cell reordering when you try to reorder a cell to the top with a scrolling involved. Basically all you need to do is to scroll at least a little bit down and then try to reorder cell to the very top. There'll be an animation glitch on the last cell reordering. It especially obvious for grouped table views. I used iPhone SE for

[2020-01-18 17:51] anton-plebanovich commented on #68
Well at least found a workaround for now - just do not animate last cell move. In `ReorderController+DestinationRow.swift` `updateDestinationRow()` use this:
[code]

Not sure, though, about the concrete iOS 13 version this bug was introduced.

[2020-01-18 18:01] anton-plebanovich commented on #68
Reproduces on iOS 13.2.2

[2020-01-22 16:59] #60 closed

[2020-01-31 20:44] dontKnowWhatIAmDoin commented on #68
I am running into this issue as well & added the fix you provided but it created a new issue where it makes all other cells I scroll over invisible. Do you know what might be causing that? Thank you

[2020-02-01 11:06] anton-plebanovich commented on #68
@dontKnowWhatIAmDoin try to replace original lines:
[code]
with those:
[code]
Overall, thise fix should affect anything except reordering to the first row.

[2020-02-01 18:50] dontKnowWhatIAmDoin commented on #68
Thank you, this worked for me.

[2020-02-12 06:12] PawanRamteke opened #69 "Reorder automatically."
need to reorder cells automatically without a touch.

[2020-02-12 16:29] adamshin commented on #69
To do that, you can just use the UITableView [moveRow(at:to:)](https://developer.apple.com/documentation/uikit/uitableview/1614987-moverow) method.

[2020-02-13 16:56] #69 closed

[2020-03-10 19:49] cliftonlabrum commented on #45
I'm getting this same crash. I tried the suggestion of adding the `delegate?.tableView...` call after deleting the row, but it doesn't work. I've confirmed that I don't have any additional `tableView.beginUpdates()` calls anywhere.

Anyone else running into this?

[2020-03-10 20:38] cliftonlabrum commented on #45
@thejeff77 Thanks. Are you referring to something other than just the built-in UIKit way of reordering `UITableView` rows? My goal is to not have the reorder lines/icon that those (used to?) put on a table row since my cells have a custom look.

Do you have a link to that sample project you are referring to?

[2020-03-14 17:20] thejeff77 commented on #45
@cliftonlabrum no I am referring to UIKit drag and drop delegates, although there are ways to customize the drag placeholder view. I'm not sure what you mean by the icons/lines but I know of some ways to remove the 1px separators from the cells. I received the example project from apple code support, so I won't post it but I'll try to get around to emailing it to you. The example doesn't have mult

[2020-03-15 04:25] cliftonlabrum commented on #45
I found a super helpful Stack Overflow post that shows how easy it is to enable drag and drop for a `UITableView`. If all you were using this library for was reordering a table without the default reorder control, then this is a simple way to get that working: https://stackoverflow.com/questions/60270449/how-can-i-use-drag-and-drop-to-reorder-a-uitableview

Just add the drag delegates to your tabl

[2020-04-06 21:27] kronos317 opened #70 "Not working on iOS 13.4"

[2020-04-30 11:43] Ant-Adis commented on #68
@anton-plebanovich That works great, thanks :D

[2020-04-30 12:30] andreigubceac commented on #68
@anton-plebanovich , why not just tableView.moveRow(at: sourceIndexPath, to: destinationIndexPath)?

[2020-05-01 13:22] anton-plebanovich commented on #68
@andreigubceac I am not the author so can't be sure, just left that as is.

[2020-06-05 06:57] koust opened #71 "two tableview problem"
Hi,

I have two tableviews in the vc. I can move from row 1 to row 0 in my first tableview but if I want to move from row 1 to row 0 in my second tableview, it doesn't work.

Can u help me about this problem?

[2020-06-05 23:26] adamshin commented on #71
This library only allows dragging cells within a single tableview. If you need to drag cells between multiple table views, you should use the new iOS drag-and-drop apis.

[2020-06-07 19:59] koust commented on #71
Actually, I asked a different question. I don't wanna use to drag cells between multiple table views. I use as a single each tableviews. Only I have two table views. I drag from row (1,2,3,4,5) to row 0 on my first tableview and it's working. but the second tableview is not working if I drag from (1,2,3,4,5) to row 0.

I attached a video about the problem.

https://youtu.be/cs_FxzoW-Io

[2020-06-08 06:00] adamshin commented on #71
I see, I misread your question. Do you have the same view controller as the reorder delegate for both tableviews? It looks like that might be the issue.

[2020-06-08 06:45] koust commented on #71
I added reorder delegate for both tableviews on the same view controller. I mean yes

[2020-06-09 16:53] adamshin commented on #71
In your `TableViewReorderDelegate` methods, are you checking which tableview is being interacted with before updating your data model? Like this:

[code]

[2020-06-10 06:22] koust commented on #71
Exactly, like this. If drag cells from row (1,2,3,...) to 0, this fuction doesnt work.
but it work  from row 0 to 1 or row 2 to 3 etc.

[2020-07-21 09:41] VikasPrajapatiSA opened #72 "How to disable reorder functionality in one section ?"
When I move cell one section to another section then it's crash. Is there any solution for this?

[2020-07-21 10:26] VikasPrajapatiSA commented on #16
func tableView(tableView: UITableView, viewForHeaderInSection section: Int) -> UIView?

Do not return your headerCell, or your reusable identifier. Return the reuseIdentifier.contentView. For me it's: return headerCell!.contentView.

[2020-08-05 13:18] nivbp7 commented on #65
tableView(_:canReorderRowAt:) method is good for not allowing source cell to be moved.
But is there a way to disable dropping the cell at a certain destination IndexPath?

[2020-08-31 17:01] DantePuglisi commented on #68
@anton-plebanovich It's not working anymore (iOS 13.6) even when using the fixes here. Does anyone have any updated workaround?

[2020-09-09 09:54] Saulenco commented on #72
Hi,
implement  `func tableView(_ tableView: UITableView, canReorderRowAt indexPath: IndexPath) -> Bool` and limit your sections there

[2020-09-09 10:07] Saulenco commented on #68
have the same issue , and this workaround does not fix the issue

[2021-04-01 14:23] mohdtahir-kiwi opened #73 "Cells Jump in center using custom cells with multilple section in group table. Getting scrolling issue when dragging cell"

[2021-04-01 14:25] mohdtahir-kiwi commented on #68
have the same issue, is it fix?

[2021-05-26 09:42] Saulenco commented on #68
Hi guys found an alternative. Check full answer [here](https://stackoverflow.com/a/57225766/2050181)
[code]